* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}



a { text-decoration: none; color: inherit; }

nav {
  background: #310542;
  color: white;
  height: 80px;
  position: fixed;
  width: 100%;
}

nav div {
  display: inline-block;
}

@font-face {
  font-family: Amasis;
  src: url('./fonts/Amasis/AmasisMedium.ttf');
}

.abt_us_title {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding: 0 0 10px 0;
  text-align: center;
  color: #291630;
}

/*collapsible sections for About Us page*/
/* Style the buttons that are used to open and close the accordion panel */

.heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  font-weight: 600;
  color: #2a0736;
  margin-bottom: 30px;
}

.search_nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  left: 100%;
}

.option {
  float: left;
  display: block;
  text-align: center;
  padding: 25px;
  padding-bottom: 0px;
  margin-bottom: 25px;
  
  border-bottom: 3px solid;
  border-bottom-color: transparent;
  transition: border-bottom-color 0.1s linear 0s;
  transition: color 0.1s linear 0s;
}

.option:not(.refine):hover {
  border-bottom-color: #845099;
  color:#845099;
}

.refine {
  padding-left: 0px;
}

.showing_subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  opacity: 0.4;
  padding-top: 30px;
  padding-bottom: 25px;
}

.main_search {
  padding: 100px 200px 100px 200px;
}

.result_cell {
  background-color: #FFFFFF;
  width: 100%;
  height: auto;
  box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.1);
  display: flex;   
  margin-bottom: 20px;
}

.img_cell {
  padding: 35px 30px 35px 30px;
  width: 25%;
  height: 22%;
  flex-grow: 2;
}

.text_cell {
  flex-shrink: 4;
  flex-wrap: wrap;
  padding: 20px 100px 20px 0px;
  line-height: 3em;

  font-family: 'Open Sans', sans-serif;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #522464;
  font-size: 1.4em;
}

.by-line {
  opacity: 0.3;
  font-size: 0.9em;
}

.preview_txt {
  line-height: 1.7em;
}

.endOfPage_line {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.endOfPage > p {
    text-align: center;
    opacity: 0.3;
    font-family: 'Open Sans', sans-serif;
}