* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

nav {
  background: #310542;
  color: white;
  height: 70px;
}

nav div {
  display: inline-block;
}

.container {
  width: 85vw;
  height: 100%;
  margin: 0 auto;
  display: flex; 
}

.nav_image {
  display: inline-block;
  height: 50px;
  width: auto;
  line-height: 0;
} 

.nav_input {
  background: #461459;
  border: 1px solid #8E8080;
  color: white;
  height: 30px;
  width: 250px;
  border-radius: 10px;
}

.nav_input::placeholder {
  color: white;
}

.sub_container {
  flex: 4;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.second_sub_container {
  flex: 4;
  display: inline-flex;
  justify-content: flex-end;  
  align-items: center;
}

.third_sub_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1.5;
}

.nav_button {
  background: #F0E9F2;
  border: 1px solid #845099;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  font-size: 12.7px;
}

.nav_element {
  display: inline-block;
  margin-left: 30px;
}

.selected_item {
  height: calc(100% - 1px);
  border-collapse: collapse;
  border-bottom: 4px solid white;
  line-height: 70px;
}
.nav_button {
  border-radius: 15px;
}

.jumbotron {
  width: 100vw;
  height: auto;
}

.main_footer {
  background: #310542;
  width: 100vw;
  height: 150px;
  display: flex;
  align-items: center;
  color: #EDEDED;
  font-size: 12.7px;
  line-height: 17px;
}

.main_footer p {
  margin-bottom: 10px;
}

.footer_header_text {
  font-weight: bold;
}

.footer_sub_container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.first_footer_container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second_footer_container {
  flex: 3;
  display: flex;
  flex-direction: row;
  border-left: 1px solid #631F7A;
  border-right: 1px solid #631F7A;
}

.third_footer_container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer_social_grouping {
  margin-top: 10px;
}


.secondary_footer {
  background: #260035;
  color: #845099;
  width: 100%;
  height: 40px;
  text-align: center;
  padding: auto;
  vertical-align: middle;
}

.secondary_footer p {
  font-size: 10.8px;
  line-height: 40px;
}
